nav
{
  position:absolute;
  top:25px;
  right:3vw;
  font-weight:500;
  font-size:1rem;
  display:flex;
  justify-content: space-between;
  width:250px;
  z-index:1;
}

nav > a:hover
{
  opacity:0.8;
}

#explore
{
  position:absolute;
  bottom:15px;
  left:0;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#explore > p
{
 color:white;
 margin:0 0 4px 0;
 text-shadow: 0px 0px 5px black;
}

@keyframes wobble {
  0%
  {
    padding-bottom:0px;
  }
  5%
  {
    padding-bottom:12px;
  }
  10%
  {
    padding-bottom:0px;
  }
}

#explore > svg
{
  box-sizing: border-box;
  width:35px;
  fill:white;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  animation:wobble 5s ease infinite;
}

a
{
  color:white;
  cursor:pointer;
}

#wrapper
{
  width:100vw;
  height:100vh;
  flex-direction: column;
}

.text-line
{
  width: 740px;
  height: 130px;
  z-index:1;
}
.text-line text {
  font-size:6rem;
  font-weight: 700;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: dash 3s linear forwards;
  fill:none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes jump
{
  0%{
    bottom:0;
  }
  50%
  {
    bottom:12px;
  }
  100%
  {
    bottom:0;
  }
}

#wrapper h2
{
  margin:3px 0;
  font-size:1.5rem;
  font-weight: 400;
  color:white;
  opacity:0.9;
}

#wrapper > h2 > span
{
  box-sizing: border-box;
  color:transparent;
  position:relative;
  text-shadow: none;
}
#wrapper > h2 > span:after
{
  content: attr(data-t);
  color:white;
  position:absolute;
  left:0;
  animation:jump 0.2s 1 ease;
  text-shadow: 0px 0px 4px #000;
}

@media (prefers-reduced-motion) {
  #wrapper > h2 > span:after {
    animation: none;
  }
  .text-line text
  {
    stroke-dashoffset: 0;
    animation: none;
  }
}

#wrapper > h2 > span:nth-child(1):after
{
  animation-delay:2s;
}
#wrapper > h2 > span:nth-child(2):after
{
  animation-delay:2.03s;
}
#wrapper > h2 > span:nth-child(3):after
{
  animation-delay:2.06s;
}
#wrapper > h2 > span:nth-child(4):after
{
  animation-delay:2.09s;
}
#wrapper > h2 > span:nth-child(5):after
{
  animation-delay:2.12s;
}
#wrapper > h2 > span:nth-child(6):after
{
  animation-delay:2.15s;
}
#wrapper > h2 > span:nth-child(7):after
{
  animation-delay:2.18s;
}
#wrapper > h2 > span:nth-child(8):after
{
  animation-delay:2.21s;
}
#wrapper > h2 > span:nth-child(9):after
{
  animation-delay:2.24s;
}
#wrapper > h2 > span:nth-child(10):after
{
  animation-delay:2.27s;
}
#wrapper > h2 > span:nth-child(11):after
{
  animation-delay:2.3s;
}
#wrapper > h2 > span:nth-child(12):after
{
  animation-delay:2.33s;
}
#wrapper > h2 > span:nth-child(13):after
{
  animation-delay:2.36s;
}
#wrapper > h2 > span:nth-child(14):after
{
  animation-delay:2.39s;
}
#wrapper > h2 > span:nth-child(15):after
{
  animation-delay:2.42s;
}
#wrapper > h2 > span:nth-child(16):after
{
  animation-delay:2.45s;
}
#wrapper > h2 > span:nth-child(17):after
{
  animation-delay:2.48s;
}

#wrapper > div
{
  width:375px;
  z-index:1;
} 

canvas
{
  position:absolute;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
}

@media screen and (max-width:850px) {
  nav
  {
    width:100vw;
    right:0;
    padding:0 25px;
    box-sizing: border-box;
  }

  .text-line
  {
    width: 600px;
  }
  .text-line text {
    font-size:4.5rem;
  }
  
  #wrapper h2
  {
    font-size:1.3rem;
  }
}
@media screen and (max-width:550px) {
  .text-line
  {
    width: 550px;
  }
  .text-line text {
    font-size:4rem;
  }
}

@media screen and (max-width:465px) {
  nav
  {
    font-size:1.1rem;
  }
  #wrapper > div {
    width: 250px;
  }
  .text-line
  {
    width: 430px;
  }
  .text-line text {
    font-size:3rem;
  }
  #wrapper h2
  {
    font-size:1.1rem;
  }
}

@media screen and (max-width:350px) {
  #wrapper > div {
    width: 200px;
  }
  .text-line
  {
    width: 360px;
  }
  .text-line text {
    font-size:2.5rem;
  }
  #wrapper h2
  {
    font-size:1.05rem;
  }
}

@media screen and (max-width:300px) {
  .text-line
  {
    width: 320px;
  }
  .text-line text {
    font-size:2rem;
  }
}
