nav
{
  position:absolute;
  top:25px;
  right:3vw;
  font-weight:500;
  font-size:1rem;
  display:flex;
  justify-content: space-between;
  width:250px;
  z-index:1;
}

#explore
{
  position:absolute;
  bottom:15px;
  left:0;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#explore > p
{
 color:white;
 margin:0 0 4px 0;
 text-shadow: 0px 0px 5px black;
}

@keyframes wobble {
  0%
  {
    padding-bottom:0px;
  }
  5%
  {
    padding-bottom:12px;
  }
  10%
  {
    padding-bottom:0px;
  }
}

#explore > svg
{
  box-sizing: border-box;
  width:35px;
  fill:white;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  animation:wobble 5s ease infinite;
}

a
{
  color:white;
  cursor:pointer;
}

#wrapper
{
  width:100vw;
  height:100vh;
  flex-direction: column;
}

#wrapper h1
{
  margin:0px 0;
  font-size:6rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: transparent;
}
#wrapper h2
{
  margin:3px 0;
  font-size:1.5rem;
  font-weight: 400;
  color:white;
  opacity:0.9;
  text-shadow: 0px 0px 5px black;
}

#wrapper > div
{
  width:375px;
}

canvas
{
  position:absolute;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:-1;
}

@media screen and (max-width:850px) {
  nav
  {
    width:100vw;
    right:0;
    padding:0 25px;
    box-sizing: border-box;
  }

  #wrapper h1
  {
    font-size:4rem;
  }
  #wrapper h2
  {
    font-size:1.3rem;
  }
}

@media screen and (max-width:465px) {
  nav
  {
    font-size:1.1rem;
  }
  #wrapper > div {
    width: 250px;
  }
  #wrapper h1
  {
    font-size:3rem;
  }
  #wrapper h2
  {
    font-size:1.1rem;
  }
}

@media screen and (max-width:340px) {
  #wrapper > div {
    width: 200px;
  }
  #wrapper h1
  {
    font-size:2.1rem;
  }
  #wrapper h2
  {
    font-size:1.05rem;
  }
}