@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body, html
{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  min-width:100vw;
  min-height:100vh;
  font-size:24px;
  overflow-x:hidden;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #979797 #e0e0e0;
  background-color:#0d182a;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffffdd; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8); 
  border-radius: 10px;
}

a
{
  text-decoration: none;
  cursor: pointer;
  transition:0.2s;
}

.center
{
  display:flex;
  justify-content: center;
  align-items: center;
}

.separator
{
  height:1px;
  background-color:white;
}