:root
{
  --d1:#FF9900;
}

body, html
{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  min-width:100vw;
  min-height:100vh;
  font-size:24px;
  overflow-x:hidden;
}

#title-wrapper
{
  width:100vw;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}

#title-wrapper > div
{
  max-width:600px;
  padding:120px 45px 45px 45px;
  margin-left:50px;

  background: rgb(0 0 0 / 16%);
  box-shadow: 0px 0px 32px 7px rgb(0 0 0 / 37%);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 24px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#title
{
  color:white;
  background:transparent;
  font-size:7rem;
  line-height:6.5rem;
  font-weight: 700;
  margin:0;
  position:relative;
  font-style: italic;
}

#title > svg
{
  width:50px;
  fill:var(--d1);
  margin-left:5px;
}

#title > span
{
  position:absolute;
  top: -82px;
  left: 144px;
  color:black;
  opacity:0.2;
  font-size:11rem;
  z-index:-1;
  font-weight:900;
}

#title-text
{
  margin:0;
  color:white;
  opacity:0.9;
  font-size:1.2rem;
}

canvas
{
  position:absolute;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:-1;
}

@media screen and (max-width:800px) {
  #title-wrapper
  {
    justify-content: center;
    align-items: center;
  }
  #title-wrapper > div
  {
    margin:0 25px;
  }
  
  #title
  {
    font-size:6rem;
    line-height:5.5rem;
  }

  #title > span 
  {
    font-size:9rem;
  }

  #title-text 
  {
    font-size:1rem;
  }
}

@media screen and (max-width:650px) {
  #title-wrapper > div
  {
    padding-top:100px;
  }
  #title
  {
    font-size:4rem;
    line-height:4.5rem;
  }
  #title > svg 
  {
    width:35px;
  }
  #title > span 
  {
    font-size:7rem;
    top: -46px;
    left: 90px;
  }

  #title-text 
  {
    font-size:1rem;
  }
}

@media screen and (max-width:550px) {
  #title-wrapper > div
  {
    padding-top:75px;
  }
  #title > span 
  {
    font-size: 6.5rem;
    top: -40px;
    left: 55px;
  }

  #title-text 
  {
    font-size:1rem;
  }
}

@media screen and (max-width:465px) {
  #title-wrapper > div {
    padding: 75px 15px 15px 15px;
    margin:0 5px;
  }
  #title > span {
    font-size: 5.5rem;
    top: -39px;
    left: 55px;
  }
  #title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  #title > svg
  {
    width:25px;
  }
  #title-text
  {
    font-size:0.9rem;
  }
}