@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root
{
  --d1:#FF9900;
}

body, html
{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  min-width:100vw;
  min-height:100vh;
  font-size:24px;
  overflow-x:hidden;
  scroll-behavior: smooth;
}


a
{
  text-decoration: none;
  cursor: pointer;
}


.center
{
  display:flex;
  justify-content: center;
  align-items: center;
}

.separator
{
  height:1px;
  background-color:white;
}